/* Custom CSS for Kaffeparty */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Flexbox alignment for images and text */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
